{% extends 'base.html' %} <!-- Cette instruction permet d'hériter le contenu du template référencé -->
{% load static %} <!-- Cette instruction permet de charger (rendre accessible) les fichiers statiques sur le template courant -->

{% block customcss %} 
<link href="{% static 'css/main.css' %}" rel="stylesheet" >
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-3">
    <div class="card-header bg-primary">
    <h1>Informations du Client</h1>
    </div>
    <div class="card-body">
    <p><strong>Prenom:</strong> {{ client.first_name }}</p>
    <p><strong>Nom:</strong> {{ client.last_name }}</p>
    </div>
    <h2>Commandes</h2>
        <div>
            <p>Commande ID: {{ commande.numero_commande}}</p>
            <p>Date de commande:{{ commande.create_at}} </p>
            <h4>Produits:</h4>
            <ul>
                {% for produit in produits %}
                    <li>{{ produit.libelle}} - {{ produit.prix }} €</li>
                {% endfor %}
            </ul>
        </div>
</div>

{% endblock %}